<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangzhoudianzi.demo.mapper.ClassroomMapper">

    <resultMap id="ClassroomResultMap" type="Classroom">
        <id property="id" column="id"/>
        <result property="building" column="building"/>
        <result property="roomNumber" column="room_number"/>
        <result property="capacity" column="capacity"/>
    </resultMap>


    <!-- 根据ID查询教室 -->
    <select id="getClassroomById" resultType="com.hangzhoudianzi.demo.pojo.resource.Classroom">
<!--        SELECT *-->
<!--        FROM classroom-->
<!--        <where>-->
<!--            <if test="id != null">-->
<!--                id = #{id}-->
<!--            </if>-->
<!--            <if test="building!= null">-->
<!--                and building like concat('%',#{building}, '%')-->
<!--            </if>-->
<!--            <if test="room_number!= null">-->
<!--                and room_number like concat('%',#{room_number}, '%')-->
<!--            </if>-->
<!--            <if test="capacity!= null">-->
<!--                and capacity =#{capacity}-->
<!--            </if>-->
<!--        </where>-->
        select * from classroom where id =#{id}
    </select>


<!--    &lt;!&ndash; 更新教室 &ndash;&gt;-->
<!--    <update id="updateClassroom" parameterType="Classroom">-->
<!--        UPDATE classroom-->
<!--        SET building    = #{building},-->
<!--            room_number = #{roomNumber},-->
<!--            capacity    = #{capacity}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->


</mapper>
